@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(https://i.ibb.co/M9LB3Kq/Glassmorphism-Background.png);
  background-size: cover;
  background-color: #eee;
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.clock {
  color: #23226b;
  max-width: 37.5em;
  margin: 3.75em auto;
  padding: 1.875em;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Current Time Section *********************************************************************************************************************/
h1 {
  text-align: center;
  font-size: 3rem;
}

#current-time {
  text-align: center;
  font-size: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

h2 {
  margin: 0 0 10px;
  font-size: 1.75rem;
}

/* Select Dropdown *********************************************************************************************************************/

.city-options {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  border-radius: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
}

/* Cities/Date/Time Section *********************************************************************************************************************/
.city {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 25px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.5;
}

.time {
  font-size: 3rem;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 48px;
}

/* Footer Section *********************************************************************************************************************/
footer {
  text-align: center;
}

.repoLink {
  text-decoration: none;
  color: #ffad1c;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.repoLink:hover {
  color: #eee;
}

/*  */
